body {
  min-height: 100VH;
}

body, div#certStuff {
  margin-bottom: 15px;
}

div.row.my-5.no-gutter, div.my-3.no-gutter {
  --bs-gutter-x: 0;
}

.nice-border {
  border-bottom: 2px solid #689165;
}

.alert-floater {
  position: fixed;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn-outline-primary, .btn-outline-success {
  background-color: white;
}

div.card.bg-primary > div.card-body {
  background-color: lightblue;
  color: black;
}

#op10Btn {
  background-color: #1d6be3;
  &:hover {
    background-color: #0f4ba8;
  }
}

#searchEnterBtn {
  background-color: #0b60e1;
  &:hover {
    background-color: #0d3e8c;
  }
}

