body {
  min-height: 100VH;
}

body, div#certStuff {
  margin-bottom: 15px;
}

div.row.my-5.no-gutter, div.my-3.no-gutter {
  --bs-gutter-x: 0;
}

.nice-border {
  border-bottom: 2px solid #689165;
}

.alert-floater {
  position: fixed;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn-outline-primary, .btn-outline-success {
  background-color: white;
}

div.card.bg-primary > div.card-body {
  background-color: lightblue;
  color: black;
}

#op10Btn {
  background-color: #1d6be3;
  &:hover {
    background-color: #0f4ba8;
  }
}

#searchEnterBtn {
  background-color: #0b60e1;
  &:hover {
    background-color: #0d3e8c;
  }
}

div#certStuff {
  height: 0;
  border: 0;
  overflow: hidden;
  -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

@keyframes onShow {
  from {
    height: 0;
  }
  to {
    height: 113px;
    border: 1px solid #0d6efd;
  }
}

div#certStuff.slideIntoView {
  animation: onShow 0.5s forwards;
}
