input[type="submit"], input[type="file"]::file-selector-button, button[type="button"] {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  border: 1px #252525 solid !important;
  border-radius: 3px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  background-color: #e8e8e8;
  color: black;
  transition: all 0.1s ease-in;
  cursor: pointer;
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(8px) !important;
  box-shadow: 3px 2px 2px gray;
}

input[type="submit"]:hover, input[type="file"]::file-selector-button:hover, button[type="button"]:hover {
  background: rgba(191, 191, 191, 0.4) !important;
  border-color: rgba(182, 182, 182, 0.8) !important;
  text-decoration: underline;
}

input[type="submit"]:active, input[type="file"]::file-selector-button:active, button[type="button"]:active {
  border-color: black !important;
}

input[type="file"] {
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  margin-right: 10px !important;
}

div#divDialog:has(iframe[src*="RepairOpFileUpload.aspx"]) {
  min-height: 135px !important;
}

iframe[src*="RepairOpFileUpload.aspx"] {
  min-height: 112px !important;
}
